.search-bar {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
}

.search-bar input {
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #b0dfe5;
  width: 260px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  font-family: 'Helvetica', sans-serif;
}

.search-bar input:focus {
  border-color: #5F9EA0;
  box-shadow: 0 0 10px rgba(95, 158, 160, 0.4);
}

.search-btn,
.random-btn {
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 9999px; 
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  font-weight: 500;
  box-shadow: 0 3px 8px rgba(95, 158, 160, 0.25);
}


.search-btn {
  background-color: #7FBFBF; 
}

.random-btn {
  background-color: #5F9EA0; 
}


.search-btn:hover,
.random-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  box-shadow: 0 5px 12px rgba(95, 158, 160, 0.4);
}
